<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script type="text/javascript" src="path-to-MathJax/MathJax.js"></script>-->
    {% load static %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <link href="{% static "stylesheet.css" %}" type="text/css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Janivi</title>
</head>
<body>
  <div id="logo">
<img src = "{% static "\images\logo2.png" %}">
  </div>
<div class="main-menu">
<ul>
    <li><a href = "/graph">Graph of the Day</a><br></li>
    <li><a href = "/geography">Geography Notebooks</a></li>
    <li><a href = "/finance">Financial Notebooks</a></li>
    <li><a href = "/hardware">Hardware Projects</a></li>
    <li><a href = "/business">Our Businesses</a></li>
    <li><a href = "/jfront">Jenny's Front End</a></li>
    <li><a href = "/blog">Our Blogs</a></li>
    <li><a href = "/about">About Us</a></li>
</ul>
</div>
</body>
</html>
