<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script type="text/javascript" src="path-to-MathJax/MathJax.js"></script>-->
    {% load static %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <link href="{% static "stylesheet.css" %}" type="text/css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Janivi</title>
</head>
<body>
  <div id="logo">
<img src = "{% static "\images\logo.png" %}">
  </div>
<div class="main-menu">
<ul>
    <li><a href = "/graph">Graph of the Day</a><br></li>
    <li>Notebooks
        <ul>
            <li><a href = "/geography">Geography</a><li>
            <li><a href = "/finance">Finance</a></li>
            <li><a href = "/nlp">NLP</a></li>
        </ul>
    </li>
    <li><a href = "/hardware">Hardware Projects</a></li>
    <li><a href = "/business">My Businesses</a></li>
    <li><a href = "/blog">Blogs</a>
        <ul>
            <li><a href = "#">Aviv Albeg</a><li>
            <li><a href = "#">Omer Korat</a></li>
        </ul>
    </li>
    <li><a href = "/about">About Me</a></li>
</ul>
</div>
</body>
</html>
