<!DOCTYPE html>
<html lang="en">
<head>
    <!--<script type="text/javascript" src="path-to-MathJax/MathJax.js"></script>-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

    <link href="styles/styles.css" type="text/css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Aviv's Website</title>
</head>
<body>
  <div id="home-bg"></div>

<h1>Janivi</h1>
<ul>
    <li><a href = "/graph">Graph of the Day</a><br></li>
    <li><a href = "/geography">Geography Notebooks</a></li>
    <li><a href = "/about">About Me</a></li>
</ul>
$$ x = \frac{1}{2}$$
</body>
</html>
